<!--log in page-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
  
    <link rel="stylesheet" href="/static/sy1.css"> 
</head>
<body>
    <div class="main">
    <h1>LOGIN PAGE</h1>
    <form method="post" action="{% url 'savelogin' %}">
         {% csrf_token %}
<input type="text" placeholder="username" required>
<input type="password" placeholder="password" required maxlength="8" minlength="4">

 <div class="wrap"> 
    
    <button type="submit">Submit</button>
    
    </div> 
    </form>
    <a href="fp.html">Forget password</a>
    <p>Not registered?  
       
        <a href="sign.html">Create an account </a>
       
  </p> 
</div>

</body>
</html>